<h2>Nova Postagem</h2>
<div class="card">
    <div class="card-body">

         <form action="/admin/posts/new_post" method="post">
           
            <label for="title_post">Titulo:</label>
            <input class="form-control" type="text" id="title_post" name="title_post" size="147" placeholder="Digite aqui o titulo da postagem"> <br />
            <label for="text_post">Postagem:</label>
            <input class="form-control" type="text" id="text_post"  name="text_post" cols="150" rows="15"></input>
            <hr>
            <input class="btn btn-success" type="submit" value="Postar"> <input class="btn btn-success" type="reset" value="Limpar">
         </form>
   </div>
</div>